html{
    background: white;
}

.platform{
    position: absolute;
    left: 2% !important;
    bottom: 2% !important;
    width: 40%;
    max-width: 400px;
}

.jequi{
    border-radius: 5pt;
    width: 90%;
    min-height: 90px;
    background-color: rgba(255, 255, 255, 0.73);
    position: relative;
    margin: auto;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    align-content: space-between;
    flex-flow: column;
    box-shadow: 0px 0px  5px rgba(0, 0, 0, .2);
    display: none;
}

.bold{
    font-weight: bold;
    color: rgba(0,0,0,.5);
}

.container{
    width: 90% !important;
    max-width: 1080px !important;
    position: relative !important;
    margin: 10px auto !important;
}

.shrimp{
    width: 100px;
    height: auto;
}

.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
}

.header img{
    margin: 0 40px 0 0 ;
}

.header h1{
    font-size: 50pt;
    color: #ff631b;
    text-transform: capitalize;
}

p i{
    position: relative;
    top: 5px;
}

.camp-field{
    display: flex;
    /* flex-flow: row;
    flex-direction: row; */
    flex-wrap: wrap;

}

input[type='text']{
    border: red 1px solid;
    width: 45%;
    margin: 5px;
    height: 30px;
    padding: 10px;
    font-size: 20pt;
    color: #ff631b;
}

input[type='button']{
    /* width: 120px; */
    background: #ff631b;
    border: none;
    margin: 5px;
    height: 50px;
    padding: 10px;
    font-size: 20pt;
    color: white;
}

input[type='button']:hover{
    background: #ff7d1a;
}
