*{
    padding: 0;
    margin: 0;
    font-size: 12pt;
    font-family: 'Quicksand';
}

html{
    background: white;
}

.platform{
    position: absolute;
    left: 2% !important;
    bottom: 2% !important;
    width: 40%;
    max-width: 400px;
}

.jequi{
    border-radius: 5pt;
    width: 90%;
    min-height: 90px;
    background-color: rgba(255, 255, 255, 0.73);
    position: relative;
    margin: auto;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    align-content: space-between;
    flex-flow: column;
    box-shadow: 0px 0px  5px rgba(0, 0, 0, .2);
    display: none;
}

.bold{
    font-weight: bold;
    color: rgba(0,0,0,.5);
}

h1{
    color: black;
    margin: 5px auto;
}

p i{
    position: relative;
    top: 5px;
}
